<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<style>
	body {
		background-color: rgb(40, 108, 255);
	}
	@font-face {
		font-family: Anime;
		src: url('./animeace2bb_tt/animeace2_reg.ttf');
	}
	
	@font-face {
		font-family: Anime;
		font-weight: bold;
		src: url('./animeace2bb_tt/animeace2_bld.ttf');
	}
	
	@font-face {
		font-family: Anime;
		font-style: italic;
		src: url('./animeace2bb_tt/animeace2_ital.ttf');
	}
	
	.logo {
		text-align: center;
		font-size: 100px;
		font-family: Anime;
		/* WebKit (Safari/Chrome) Only */
		-webkit-text-stroke: 4px black;
  
		/* If we weren't using text-shadow, we'd set a fallback color
			and use this to set color instead
			-webkit-text-fill-color: white; */
		
		color: white;
		
		text-shadow:
			3px 3px 0 #000,
			/* Simulated effect for Firefox and Opera
			and nice enhancement for WebKit */
			1px -1px 0 #000,  
			1px -1px 0 #000,
			-1px  1px 0 #000,
			1px  1px 0 #000;
	}

	.short {
		letter-spacing: -10px;
	}
</style>


<div class="logo short">
	I
</div>

<div class="logo">
	Indie Comic Rack
</div>

<script>
	async function foo() {
		const canvas = await html2canvas(document.querySelector(".logo"));
		console.log(canvas);
		document.body.appendChild(canvas);
	};
</script>

<button onClick="foo()">Create PNG</button>