html {
	scroll-behavior: smooth;
}

body {
	overflow-y: scroll;
}

.listing {
	background-color: #fff;
	max-height: 800px;
	position: relative;
}

.listing img,
.listing .listing-title-text {
	transition-property: transform filter opacity;
	transition-duration: .3s;
	transform: translateZ(0);
}

.listing .listing-title-text {
	color: white;
	font-weight: bold;
	font-size: 20px;
	left: 50%;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.listing img:hover,
.listing .listing-title-text:hover + img {
	filter: brightness(50%);
	transform: scale(1.15, 1.15) translateZ(0);
	z-index: 1;
}

.listing:hover .listing-title-text,
.listing .listing-title-text:hover {
	opacity: 1;
	transform: scale(1.15, 1.15) translateX(-50%) translateZ(0);
}

.listing.hidden {
	opacity: .2;
}

.listing-share-icon {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
}

.main-container {
	margin-top: 2em;
}

.samples-dropdown {
	color: #dc0d0d;
}

button.label {
	cursor: pointer;
}

.listing .ui.label,
.listing-modal .ui.label,
.listing .ui.tag,
.listing-modal .ui.tag {
	margin-bottom: 10px;
}

.previews-trigger {
	color: red;
	font-weight: bold;
	cursor: pointer;
}

.preview-iframe-window {
	width: 100%;
	height: 75vh;
	border: 0;
}

.preview-carousel .ui.medium.image {
	width: auto;
	height: 100%;
}

.header-logo {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.header-logo img {
	width: 100%;
	max-width: 800px;
}

.listing-shuffle-button.ui.button {
	margin-top: 10px;
}


.listing-modal .twitter-share-button {
	float: right;
}

.listing-modal-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

.listing-url-field {
	position: relative;
}

.shadow {
	box-shadow: 5px 5px 4px rgba(0,0,0,0.15);
}

.listing-container {
	margin-top: 10px;
}

.twitter-follow-button {
	height: 30px;
}

@media only screen and (max-width: 767px) {

	.listing-body .column {
		padding: 0;
	}

	.listing-header,
	.listing-modal-image-col {
		text-align: center;
	}
	
	.samples-dropdown {
		left: 50%;
		transform: translate(-50%, -17px);
	}

	.main-container.ui.container,
	.listing-container.ui.container {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.ui.stackable.grid>.row>.listing.hidden.column {
		margin: 0;
		overflow: hidden;
		opacity: 0;
		padding-bottom: 0 !important;
		padding-top: 0 !important;
		max-height: 0;
		z-index: 0;
	}

	.listing-modal {
		background-color: white;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		z-index: 50;
	}

	.listing-modal > div.ui.stackable.sixteen.column.grid {
		margin: 0 4px !important;
	}
}